@import "../../styles/utils.module.scss";

.background {
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;

    .modal-wrapper {
        position : fixed;
        top : 50%;
        left : 50%;
        transform : translate(-50%, -50%);

        .modal {
            @include material-shadow(5, 200, $oc-blue-4);
        }
    }
}
